* {
    //background-color: rgba(255,0,0,0.2);
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html,
body {
    height: 100%;
    //color: #0F224A;
    color: rgba(0, 0, 0, 0.75);
    font-family: Roboto, Helvetica, sans-serif, Arial;
    //font-size: 16px;
    //font-size: calc(1rem + 1vmin);
    //font-size: calc(15px + 0.390625vw);
}


/*
body {
    font-size: 16px;
}

@media (min-width:768px) {
    body {
        font-size: 18px;
    }
}

@media (min-width:1024px) {
    body {
        font-size: 19px;
    }
}

@media (min-width:1280px) {
    body {
        font-size: 20px;
    }
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}
*/

h1,
h2,
h3,
p {
    margin: 0;
    /* Remove as margens padrão do h1 */
    letter-spacing: 0.5px;
    //color: rgba(0,0,0,0.2);
}

body {
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #00539F;
    background-image: url(../img/bg.jpg);
}

.container {
    //background-color: gray;
    //z-index: 2;
    width: 320px;
    height: 288px;
    position: relative;
    margin: 0 auto;
}

.size {
    //top: 0;
    //left: 0;
    width: 100%;
    height: 15%;
}

.header {
    //background-color: #2D447C;
    z-index: 1;
    position: absolute;
    //top: 0;
    transition: .2s;
}

.navbar {
    //background-color: rgba(255,0,0,0.5);
    z-index: 2;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-item {
    //background-color: rgba(255,0,0,0.5);
    width: 25%;
    height: 100%;
    position: relative;
    //transition: 0.3s;
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -webkit-tap-highlight-color: transparent;
}

.navbar-item-ico {
    //background-color: lightgreen;
    width: 100%;
    height: 52%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 90%;
}

.navbar-item-ico.arceus {
    background-image: url(../img/ico-arceus.svg);
}

.navbar-item-ico.typeweek {
    background-image: url(../img/ico-typeweek.svg);
}

.navbar-item-ico.proposal {
    background-image: url(../img/ico-proposal.svg);
}

.navbar-item-ico.contact {
    background-image: url(../img/ico-contact.svg);
}

.navbar-item-txt {
    //background-color: blue;
    width: 100%;
    height: 40%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% auto;
}

.navbar-item-txt.arceus {
    background-image: url(../img/item-txt-arceus.svg);
}

.navbar-item-txt.typeweek {
    background-image: url(../img/item-txt-typeweek.svg);
}

.navbar-item-txt.proposal {
    background-image: url(../img/item-txt-proposal.svg);
}

.navbar-item-txt.contact {
    background-image: url(../img/item-txt-contact.svg);
}

.navbar-item:before {
    content: "";
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8%;
    //color: gray;
    background-color: lightgray;
    opacity: 0;
    transition: 0.3s;
    //border-radius: 8px 8px 0 0;
}

.navbar-item:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
}

.navbar-item:not(.is-active):hover {
    color: lightgray;
}

.navbar-indicator {
    //z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
    //width: 25%;
    height: 8%;
    transition: 0.4s;
}


/*=================================================================*/

.contents {
    //background-color: rgba(255,0,0,0.5);
    //z-index: 1;
    position: relative;
    width: 100%;
    height: 85%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.space {
    //background-color: rgba(255,0,0,0.5);
    position: relative;
    width: 100%;
    height: 12%;
}

.panel {
    //z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 85%;
    border-radius: 2vmin;
    background-color: white;
    box-shadow: 0px 0px 0.9vmin 0.4vmin rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
}

.panel-thumb {
    //z-index: 1;
    position: relative;
    width: 100%;
    padding-bottom: 45%;
    /* aspect ratio */
    background-color: white;
    background-position: top center;
    background-size: 100% auto;
    background-image: url(../img/thumb-arceus.jpg);
}


/*
.panel-thumb.arceus {
    background-image:url(../img/thumb-arceus.jpg);
    //background-color: blue;
}
.panel-thumb.typeweek {
    background-image:url(../img/thumb-typeweek.jpg);
    //background-color: green;
}
.panel-thumb.proposal {
    background-image:url(../img/thumb-proposal.jpg);
    //background-color: orange;
}
.panel-thumb.contact {
    background-image:url(../img/thumb-contact.jpg);
    //background-color: #A64DFF;
}
*/

.panel-title {
    //background-color: rgba(255,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 25%;
    //padding: 5%;
    display: flex;
    //justify-content: center;
    //align-items: left;
    opacity: 0.9;
}

.panel-title-ico {
    //background-color: rgba(255,0,0,0.5);
    width: 10%;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 65%;
    cursor: pointer;
}

.panel-title-ico.arceus {
    background-image: url(../img/ico-arceus.svg);
}

.panel-title-ico.typeweek {
    background-image: url(../img/ico-typeweek.svg);
}

.panel-title-ico.proposal {
    background-image: url(../img/ico-proposal.svg);
}

.panel-title-ico.contact {
    background-image: url(../img/ico-contact.svg);
}

.panel-title-txt {
    //background-color: rgba(255,0,0,0.5);
    width: 80%;
    height: auto;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: auto 65%;
}

.panel-title-txt.arceus {
    background-image: url(../img/title-txt-arceus.svg);
}

.panel-title-txt.typeweek {
    background-image: url(../img/title-txt-typeweek.svg);
}

.panel-title-txt.proposal {
    background-image: url(../img/title-txt-proposal.svg);
}

.panel-title-txt.contact {
    background-image: url(../img/title-txt-contact.svg);
}

.panel-title-button {
    //background-color: rgba(255,0,0,0.5);
    width: 10%;
    height: auto;
    background-image: url(../img/button.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    transition: .35s;
    cursor: pointer;
}

.panel-title-button:active {
    transform: scale(1.2);
}

.panel-content {
    //background-color: rgba(255,0,0,0.5);
    position: relative;
    margin: 0 5% 5% 5%;
    //padding: 1rem;
    text-align: center;
}

.button {
    position: relative;
    margin: 5% auto;
    padding: 0.5rem;
    width: 80%;
    border-radius: 10rem;
    color: white;
    background-color: #04befe;
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(3, 145, 211, 1) 100%);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.75);
    transition: .35s;
    cursor: pointer;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -webkit-tap-highlight-color: transparent;
}

.button:active {
    transform: scale(1.2);
}

.panel-list {
    position: relative;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 1.4vmin;
    background-color: rgba(219, 219, 240, 1); //rgba(200, 191, 231); //rgb(0, 0, 255, 0.1);
    text-align: left;
}